@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.mainDiv {
  width: 100vw;
  height: 100vh;
  background: #6983aa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.centerDiv {
  width: 25%;
  height: 80vh;
  background-color: #fff;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.sc {
  overflow-y: scroll;
  height: 60vh;
}

h1 {
  color: #fff;
  /* background: transparent; */
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin: 10px 0;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

input {
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}

button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  color: #fff;
  background: transparent;
  background-color: #20bf6b;
  font-size: 40px;
  margin-left: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease;
}

button:hover {
  color: #20bf6b;
  background: #fff;
}

ol {
  margin-top: 30px;
  padding-right: 5px;
}

ol li {
  margin-bottom: 10px;
  /* padding-left: 0px; */
  text-align: left;
  font-size: 18 px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}

.toDoStyle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.toDoStyle .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  border-radius: 50%;
  margin: 10px;
  padding: 5px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 1);
}

.toDoStyle .fa-times:hover {
  background: #fff;
  color: crimson;
}

@media (max-width: 1200px) {
  .centerDiv {
    width: 55%;
  }

  .toDoStyle .fa-times {
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
}
